h1, h6, h2{
	text-align: center;
}

.game_container{
	width: 400px;
	margin: 0 auto;
	padding: 10px;
}

.stats{
	text-align: center;
}

#letters{
	width: 400px;
	margin: 0 auto;
}

#letters ul li{
	float: left;
	list-style: none;
	margin-left: 10px;
	margin-top: 10px;
	width: 40px;
	border-radius: 5px;
	text-align: center;
	background-color: #007bff;
}

#letters ul li a{
	color: white;
}

#game{
	border: 1px solid black;
}

.wrong{
	background-color: gray !important;
}

.wrong a{
	color:white !important;
}

.right{
	background-color: white !important;	
}

.right a{
	color:#007bff !important;
}

